.tictactoe {
    max-width: 244px;
}
 
.tictactoe .title {
    padding: 20px;
    text-align: center;
}
 
.tictactoe .board {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
}
 
.tictactoe .board > span {
    margin: 2px;
    width: 80px;
    height: 80px;
    background-color: #ddd;
    line-height: 80px;
    text-align: center;
    font-size: 22px;
}
 
.tictactoe button {
    width: 100%;
}
